@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Hubot Sans';
	src: url('/fonts/Hubot Sans/Hubot-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/Hubot Sans/Hubot-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

@font-face {
	font-family: 'Mona Sans';
	src: url('/fonts/Mona Sans/Mona-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/Mona Sans/Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

:root {
	font-family: 'Hubot Sans', 'Mona Sans', sans-serif;
	font-size: 1rem;

	background-color: #121212;
}

body {
	color: #e6e6e6;

	margin: 0;
	padding: 0;
}
